.catalog {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 78px;
    padding: 0 50px 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 83px 50px 0;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1150px;
  }
}

.catalog__card {
  @media (min-width: $tablet-width) {
    margin: 30px 0 54px;
  }
}
