.logo-wrapper {
  box-sizing: border-box;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ececec;

  @media (min-width: $tablet-width) {
    align-content: flex-start;
    text-align: left;
    position: relative;
    border: none;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    align-self: center;
    margin-right: 76px;
  }
}
