body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

// * {
//   outline: 1px solid red;
// }
