$tablet-width: 768px;
$desktop-width: 1150px;
$back-bg: #ffffff;
$seafoam-blue: #63d1bb;
$seafoam-blue-two: #59d5bc;
$aqua-marine: #56c3b2;
$aqua-marine-two: #46c1ae;
$light-text: #ffffff;
$light-text-two: rgba(255, 255, 255, 0.3);
$greyish-brown: #444444;
$light-grey-bg: #f1f1f1;
$bg-60: rgba(0, 0, 0, 0.6);
$bg-30: rgba(0, 0, 0, 0.3);
$black: #000000;
